<!DOCTYPE html>
<html lang="en">

<head>
    <title>Evelyn Template</title>
</head>

<body>
    <a href="#">Log</a>
    <% products.map((product)=>{ %>
        <h4>
            <a href="/products/<%=product.id %>">
                    <%=product.productmas %>
            </a>
        </h4>
        <br>
        <h4>
            <%=product.productmass %>
        </h4>
        <%});%>
</body>

</html>